LogLevel=INFO
TimeZone=America/Sao_Paulo

AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER_NAME=

PgSQL_HOST=127.0.0.1
PgSQL_PORT=5432
PgSQL_USER=
PgSQL_PASS=
PgSQL_NAME=
PgSQL_ENABLE=True

MgOBJ_HOST=127.0.0.1
MgOBJ_PORT=27017
MgOBJ_USER=
MgOBJ_PASS=
MgOBJ_NAME=
MgOBJ_ENABLE=True
MgOBJ_PARAMS=authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000&appName=CosmosExplorerTerminal

Msg_Rabiit_HOST=
Msg_Rabiit_PORT=5672
Msg_Rabiit_QUEUE=
Msg_Rabiit_RoutingKey=
Msg_Rabiit_ProcessPrefix=PROCESS_
Msg_Rabiit_AutoAck=False
Msg_Rabiit_TimeOut=5
Msg_Rabiit_ENABLE=True
